.table {
    margin-top: 50px;
    width: 35%
}

.table-headings {
    display: flex;
}

.col1 {
    flex: 1 1 0;
    text-align: start;
}

.col2 {
    flex: 3 1 0;
    text-align: start;
}

.col3 {
    flex: 1 1 0;
}

.submit {
    width: 4rem;
    color: white; 
    background-color: #1d57de;
    font-size: 14px;
    padding: 5px;
    border-radius: 10%;
    box-shadow: 2px 2px 5px black;
    text-align: center;
}
 