.table {
    margin-top: 25px;
    width: 35%;
}

.col1 {
    flex: 1 1 0;
    text-align: start;
}

.col2 {
    flex: 3 1 0;
    text-align: start;
}

.col3 {
    flex: 1 1 0;
}

.submit {
    width: 4rem;
    color: white; 
    background-color: #1d57de;
    font-size: 14px;
    padding: 5px;
    border-radius: 10%;
    box-shadow: 2px 2px 5px black;
    text-align: center;
}

.delete {
    width: 3.5rem;
    color: white;
    background-color: rgb(244, 0, 0);
    font-size: 14px;
    padding: 5px;
    border-radius: 10%;
}

.edit {
    width: 3.5rem;
    color: white;
    background-color: rgb(212, 170, 5);
    font-size: 14px;
    padding: 5px;
    border-radius: 10%;
}

* > a {
    text-decoration: none;
}
 